# # Constraints that no two adjacent states can have the same color
# # RED
# (-> WAR (and (not NTR) (not SAR)))
-NTR -WAR
-SAR -WAR

# (-> SAR (and (not NTR) (not QR) (not NSWR) (not VR) (not WAR)))
-NTR -SAR
-QR -SAR
-NSWR -SAR
-VR -SAR
-WAR -SAR

# (-> NTR (and (not QR) (not SAR) (not WAR)))
-QR -NTR
-SAR -NTR
-WAR -NTR

# (-> QR (and (not NSWR) (not SAR) (not NTR)))
-NSWR -QR
-SAR -QR
-NTR -QR

# (-> NSWR (and (not QR) (not VR) (not SAR)))
-QR -NSWR
-VR -NSWR
-SAR -NSWR

# (-> VR (and (not NSWR) (not SAR)))
-NSWR -VR
-SAR -VR

# 
# # GREEN
# (-> WAG (and (not NTG) (not SAG)))
-NTG -WAG
-SAG -WAG

# (-> SAG (and (not NTG) (not QG) (not NSWG) (not VG) (not WAG)))
-NTG -SAG
-QG -SAG
-NSWG -SAG
-VG -SAG
-WAG -SAG

# (-> NTG (and (not QG) (not SAG) (not WAG)))
-QG -NTG
-SAG -NTG
-WAG -NTG

# (-> QG (and (not NSWG) (not SAG) (not NTG)))
-NSWG -QG
-SAG -QG
-NTG -QG

# (-> NSWG (and (not QG) (not VG) (not SAG)))
-QG -NSWG
-VG -NSWG
-SAG -NSWG

# (-> VG (and (not NSWG) (not SAG)))
-NSWG -VG
-SAG -VG

# 
# # BLUE
# (-> WAB (and (not NTB) (not SAB)))
-NTB -WAB
-SAB -WAB

# (-> SAB (and (not NTB) (not QB) (not NSWB) (not VB) (not WAB)))
-NTB -SAB
-QB -SAB
-NSWB -SAB
-VB -SAB
-WAB -SAB

# (-> NTB (and (not QB) (not SAB) (not WAB)))
-QB -NTB
-SAB -NTB
-WAB -NTB

# (-> QB (and (not NSWB) (not SAB) (not NTB)))
-NSWB -QB
-SAB -QB
-NTB -QB

# (-> NSWB (and (not QB) (not VB) (not SAB)))
-QB -NSWB
-VB -NSWB
-SAB -NSWB

# (-> VB (and (not NSWB) (not SAB)))
-NSWB -VB
-SAB -VB

# 
# # Each state can have only one color
# (-> WAR (and (not WAG) (not WAB)))
-WAG -WAR
-WAB -WAR

# (-> WAG (and (not WAR) (not WAB)))
-WAR -WAG
-WAB -WAG

# (-> WAB (and (not WAR) (not WAG)))
-WAR -WAB
-WAG -WAB

# 
# (-> NTR (and (not NTG) (not NTB)))
-NTG -NTR
-NTB -NTR

# (-> NTG (and (not NTR) (not NTB)))
-NTR -NTG
-NTB -NTG

# (-> NTB (and (not NTR) (not NTG)))
-NTR -NTB
-NTG -NTB

# 
# (-> SAR (and (not SAG) (not SAB)))
-SAG -SAR
-SAB -SAR

# (-> SAG (and (not SAR) (not SAB)))
-SAR -SAG
-SAB -SAG

# (-> SAB (and (not SAR) (not SAG)))
-SAR -SAB
-SAG -SAB

# 
# (-> QR (and (not QG) (not QB)))
-QG -QR
-QB -QR

# (-> QG (and (not QR) (not QB)))
-QR -QG
-QB -QG

# (-> QB (and (not QR) (not QG)))
-QR -QB
-QG -QB

# 
# (-> NSWR (and (not NSWG) (not NSWB)))
-NSWG -NSWR
-NSWB -NSWR

# (-> NSWG (and (not NSWR) (not NSWB)))
-NSWR -NSWG
-NSWB -NSWG

# (-> NSWB (and (not NSWR) (not NSWG)))
-NSWR -NSWB
-NSWG -NSWB

# 
# (-> VR (and (not VG) (not VB)))
-VG -VR
-VB -VR

# (-> VG (and (not VR) (not VB)))
-VR -VG
-VB -VG

# (-> VB (and (not VR) (not VG)))
-VR -VB
-VG -VB

# 
# (-> TR (and (not TG) (not TB)))
-TG -TR
-TB -TR

# (-> TG (and (not TR) (not TB)))
-TR -TG
-TB -TG

# (-> TB (and (not TR) (not TG)))
-TR -TB
-TG -TB

# 
# # Specific Notes
# (<-> WAR (and QR VR))
QR -WAR
VR -WAR
-QR -VR WAR

# (<-> WAG (and QG VG))
QG -WAG
VG -WAG
-QG -VG WAG

# (<-> WAB (and QB VB))
QB -WAB
VB -WAB
-QB -VB WAB

# 
# (<-> VR (and QR WAR))
QR -VR
WAR -VR
-QR -WAR VR

# (<-> VG (and QG WAG))
QG -VG
WAG -VG
-QG -WAG VG

# (<-> VB (and QB WAB))
QB -VB
WAB -VB
-QB -WAB VB

# 
# (<-> QR (and VR WAR))
VR -QR
WAR -QR
-VR -WAR QR

# (<-> QG (and VG WAG))
VG -QG
WAG -QG
-VG -WAG QG

# (<-> QB (and VB WAB))
VB -QB
WAB -QB
-VB -WAB QB

# 
# (<-> NTR NSWR)
-NTR NSWR
-NSWR NTR

# (<-> NTG NSWG)
-NTG NSWG
-NSWG NTG

# (<-> NTB NSWB)
-NTB NSWB
-NSWB NTB

# 
# # Each state must have at least one color
# (or WAR WAG WAB)
WAR WAG WAB

# (or NTR NTG NTB)
NTR NTG NTB

# (or SAR SAG SAB)
SAR SAG SAB

# (or QR QG QB)
QR QG QB

# (or NSWR NSWG NSWB)
NSWR NSWG NSWB

# (or VR VG VB)
VR VG VB

# (or TR TG TB)
TR TG TB

# APPENDIX:
QG
VB
